body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #dc7b3c;;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#guessBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 60px;
    background-color: white;
    color: black;
    height: 200px;
}

#guessBox .head{
    border: 1px solid #dc7b3c;
    padding: 20px 30px;
}

#guessBox .guessEntries{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 75%;
    padding: 20px 30px 30px;
}

#guessBox #guessField{
    width: 200px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #dc7b3c;
    border-radius: 10px;
}

#guessBox #guessField:focus{
    outline: none;
}

#guessBox #guessSubmit{
    width: 150px;
    background-color: white;
    color: #dc7b3c;
    border: 2px solid #dc7b3c;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    transition: 0.5s ease;
}

#guessBox #guessSubmit:hover{
    background-color: #dc7b3c;
    color: white;
    cursor: pointer;
}

#guessBox #guessSubmit{
    width: 150px;
}

#guessResult{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 60px;
    border: 2px solid white;
    margin: 20px;
    background-color: white;
    width: auto;
    padding: 2px 20px;
    color: red;
    font-size: 25px;
    visibility: hidden;
}

#guessResult #statement, #guessResult #attempts{
    padding: 0px 30px;
}